
.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: rgb(5, 5, 5);
    margin-left: 180px;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 8s;
     -moz-animation:move 8s;
      -ms-animation:move 8s;
       -o-animation:move 9s;
          animation:move 8s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
p#reserved {
    margin-top: 10%;
    text-align: center;
    color: #0c0c0c;
}
body{
    background-color: rgb(243, 239, 239);
}
.my_all{
    background-color: rgb(250, 242, 242);
}

#title_page {
    font-size: 180px;
    text-align: center;
    color: rgb(7, 7, 7);
    font-family: serif;
    width: 113%;
    padding-top: 23%;
}
#title_video_download{
    font-size: 50px;
    font-family: serif;
    color: #e74c3c;
}
#download_video{
    color: #e74c3c; 
}
.antialiased {
    background-color: rgba(255, 250, 250, 0.979);
}
.sm\:block {
    display: block;
    height: 24%;
}
img, video {
    max-width: 100%;
    height: auto;
    margin-top: -2px;
}
div#apps {
    padding-top: 10%;
    font-size: 30px;
    color: rgb(17, 17, 17);
    font-family: serif;
}
#btn {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
    height: 67%;
    /* padding-top: 8px; */
    margin-top: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.my_container {
    max-width: 1280px;
    height: 786px;
}