body.font-sans.antialiased {
    background-image: url('https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?size=626&ext=jpg');
    background-size:100% ;
}

#btn {
    color: #0c0c0c;
    background-color: #d8cfcf;
    border-color: #b39d9d69;
    height: 67%;
    /* padding-top: 8px; */
    margin-top: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.sm\:block {
    display: block;
    height: 24%;

}
nav.navbar.navbar-expand-lg.navbar-dark {
    background-color: black;
    height: 94px;
    border-bottom: 1px solid #f5ebebf5;
}
#logo{
    max-width: 100%;
    height: 67px;
}
a.nav-link {
    border-right: 1px solid #e74c3c;
}
a.nav-link :hover {
    color: red;
    background-color: red;
}
div#log {
    background-color: black;
}
.body{
    background-image: url('https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?size=626&ext=jpg');
    background-size:100% ;
}
#loguearse {
    margin-top: 90%;
}
form#form_login {
    padding: 13px 2px 2px 1px;
}

div#form_login {
    border: 1px solid transparent;
   background-color: #b39d9d69;;
}
.text{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
div#form_register {
    border: 1px solid transparent;
    background-color: #b39d9d69;
    /* padding-bottom: 16px; */
    /* margin-bottom: 27px; */
    margin-top: -56px;
}