body.font-sans.antialiased {
    background-color: white;
}
.border-indigo-400 {
    --border-opacity: 1;
    border-color: #f11a1a;
    /* border-color: rgba(141,162,251,var(--border-opacity)); */
}
.my_imput:focus {
    outline: none !important;
    border:1px solid #f11a1a;
    box-shadow: 0 0 5px #f11a1a;
}
.my_imput {
    width: 600px;
    border-radius: 5px 5px 5px 5px;
    height: 43px;
    color: black;
    border:1px solid rgba(0, 0, 0, 0.267);
}
.videos{
    padding-left: 20%;
}
#btn-submit{
    margin-top: 20px;
    margin-left: 40%;
    background-color: black;
    color: rgb(10, 10, 10);
}
#my_format{
    height: 40px;
    width: 100px;
    border-color: #746f6f;
    font-family: serif;
    text-align: center;
}
#my_format:focus{
    border-color: #f11a1a;
}
.btn_submit {
    border-radius: 20%;
    color: rgb(8, 8, 8);
    margin-top: 15px;
    margin-left: 45%;

}
button.btn.btn_submit {
    border: 1px solid #080808;
}
button.btn.btn_submit:focus{
    border: 1px solid #f11a1a;
}
.my_alert {
    height: 77px;
    width: 70%;
    margin-left: 18%;
}
#downlaod_btn{
    margin-left: 18px;
}
#titles, tr{
    border: 1px solid #b39d9d69;  
    background-color: #b39d9d41;
    color: rgb(19, 18, 18)
}
body{
    background-color: white;
}
#titles{
    color: #050505;
    background-color:#b39d9d69;
    border-color: #b39d9d69;
    font-family: initial;
    font-size: 20px;
}
.videos {
    padding-left: 31%;
    background-color: #b39d9d69;
}
form {
    padding-top: 13px;
}
.title_url{
    font-family: serif;
    font-size: 20px;
}
td{
    text-align: center;
}
.table{
    background-color: white;
}
.btn_delete{
    margin-bottom: 10px;
    text-align: center;
    font-family: initial;
    width: 100px;
    color: #ab7277;
    background-color: #d8cfcf;
    border-color: #f30909e6;
}
.btn_del{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav.border-b.border-gray-100 {
    background-color: black;
}
img#logo {
    height: 63px;
}
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
button.btn.btn_submit {
    border: 1px solid #5a575757;
    /* background-image: linear-gradient(to right top, #b7bcc4, #a9b2b5, #9fa6a5, #979a98, #8e8e8d); */
    /* background-image: linear-gradient(to right top, #cfd0d1, #a7bcc329, #a5b3ac5e, #e3eae3, #e3e3dd); */
    background-color: #b5aaaa6e;
}