.condtainer {
    height: 83%;
    background-color: #b39d9d41;
    text-align: center;
}
video {
    height: 87%;
    margin-left: 10%;
    /* padding-top: 10px; */
    width: 85%;
    border: none;
}
button#download {
    /* padding-top: 10px; */
    margin-top: 7px;
    width: 89px;
    background-color: rgb(105 101 101 / 89%);
    color: #161e2e;
    border-color: #100f0f;
}
body.font-sans.antialiased {
    background-image: url('https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?size=626&ext=jpg');
    background-size:100% ;
}
.btn.btn_back {
    background-color: #e2dcdc;
    color: black;
    /* padding-left: 30px; */
    margin-left: 10px;
    margin-top: 10px;
}
.py-12 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}